.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container h1 {
    text-align: center;
    color: #C35355;
    text-shadow: 1px 3px 4px gray;
    margin-bottom: 10px;
}

.container p {
    width: 85%;
    text-align: center;
    font-size: 1.25em;
}

.container-img img {
    width: 350px;
    padding: 10px;
    margin: 0 auto;
}